security:
    providers:
        app_user_provider:
            entity:
                class: App\Entity\User
                property: uuid

    firewalls:
        dev:
            pattern: ^/(_profiler|_wdt|assets|build)/
            security: false
        main:
            lazy: true
            provider: app_user_provider
            custom_authenticators:
                - App\Security\FirstFactorTriggerAuthenticator
                - App\Security\FirstFactorVerifyAuthenticator
            entry_point: App\Security\FirstFactorTriggerAuthenticator
            remember_me:
                secret: '%kernel.secret%'
                lifetime: 2592000 # 30 days
                path: /
                signature_properties: [uuid]
            logout:
                path: logout

when@test:
    security:
        password_hashers:
            Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface:
                algorithm: auto
                cost: 4
                time_cost: 3
                memory_cost: 10
